{% extends "microtec/base.html" %}

{% load static %}

{% block content %}

<style>
  a.links {
    font-size: 20px;
  }
  .btn {
    margin: 7px;
  }
</style>


<br>


<div align="center"><h3>Please fill out the appropriate form and return via email or hard copy.<hr></h3></div>

<br>
<br>

<div class="row">
<div class="col-4" align="right">

<a class="btn btn-primary" href="{% static "microtec/newcustomer.pdf" %}" role="button" target="_blank">New Customer Form <i class="fas fa-align-justify"></i></a>
<br>

<a class="btn btn-primary" href="{% static "microtec/return.pdf" %}" role="button" target="_blank">Instrument Return Form <i class="fas fa-align-justify"></i></a>

<br>
<br>





  <h4><i class="fas fa-address-card"></i> <u>Contact Information</u></h4>

  Microtec Services, Inc.<br>
  110 Charles Street<br>
  Pasadena, TX 77506<br>
  <br>
  <p><i class="fas fa-envelope"></i><b> Email:</b> <a href="mailto:qstokley@sbcglobal.net">qstokley@sbcglobal.net</a></p>
  <p><i class="fas fa-phone"></i><b> Telephone:</b> <a href="tel:713-475-2274">713-475-2274</a><br>
  </p>
</div>

<div class="col-8">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3465.27236971174!2d-95.21614868455406!3d29.711868641160706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640a2c7a5fee089%3A0xf09fe0cdd606839!2sMicrotec%20Services%2C%20Inc.!5e0!3m2!1sen!2sus!4v1585961198810!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

</div>
{% endblock %}
