{% extends "microtec/base.html" %}

{% load static %}

{% block content %}

<br>

<div align="center"><h1>New Instruments</h1></div>

<br>

<style>
div.body {
    width: 600px;
    margin: auto;
}
div.benefits {
  width: 800px;
  margin: auto;
}
div.minor {
  width: 500px;
  margin: auto;
}
</style>

<div align="center" class="body">We have several makes and models of new and used survey meter for sale. Please call for pricing details.</div>




<h2 class="mt-5">Ludlum</h2>
<hr>
<div class="row">
  {% for meter in meters %}
  {% if "Ludlum" in meter.title %}
  <div class="col-lg-4 col-md-6" align="center">

    {% if meter.url %}
    <a href="{{ meter.url }}">
      <img src="{{ meter.image.url }}" class="img-fluid mb-2" width="auto" height="200px">
    </a>
    {% else %}

    <img src="{{ meter.image.url }}" class="img-fluid mb-2" width="auto" height="200px">
    {% endif %}
    <h3>{{ meter.title }}</h3>
    <p>{{ meter.description|truncatechars:200 }}</p>

  </div>
  {% endif %}
  {% endfor %}
</div>

<br>

<h2 class="mt-5">NDS Products</h2>
<hr>
<div class="row">
  {% for meter in meters %}
  {% if "NDS" in meter.title %}
  <div class="col-lg-4 col-md-6" align="center">

    {% if meter.url %}
    <a href="{{ meter.url }}" target="_blank">
      <img src="{{ meter.image.url }}" class="img-fluid mb-2" width="100%" height="auto">
    </a>
    {% else %}

    <img src="{{ meter.image.url }}" class="img-fluid mb-2" width="auto" height="200px">
    {% endif %}
    <h3>{{ meter.title }}</h3>
    <p>{{ meter.description|truncatechars:200 }}</p>

  </div>

  {% endif %}
  {% endfor %}
</div>




{% endblock %}
